<%=  partial "guide/navigation"%>
<div class="mainbar">
  <h1>Getting Started</h1>
  <p>The purpose of this style guide is to define coding standart that should be used in frontend development to keep code consistency and create a baseline for collaboration. Well structured and readable code is easy to maintain, easy to expand and modify without making mistakes accidently. Guidelines and standards are needed to help developers to decide which solutions to use and what common approach to a specific problem there is.</p>
  
  <p>There are some amount of methodologies and principles like <a href="http://oocss.org/">OOCSS</a>, <a href="http://bem.info/sm">BEM</a> or <a href="http://smacss.com/">SMACSS</a> that can help you in development. And most of them can be good starting points for your own approach to use. You still need to think about code formatting, semantic naming, file organization and lots of different things that works for you. Because if you are working on a small project using all of BEM principles will be an overhead for you.</p>
  
  <p>Here is a set of guidelines that will help you organize your code, make it clear and understandable to other developers and start thinking in object oriented way.</p>
</div>