<%=  partial "guide/navigation"%>
<div class="mainbar">
  <h1>Objects</h1>
  <p>Object Oriented CSS is all about learning to think about your UI and CSS in terms of objects. Object is a simple independent and indivisible component that is used across the project. Objects are small little chunks of functionality. You can think of them as interface elements like headings, form fields, buttons, and content areas. </p>
  <p>Object names should be semantic simple and descriptive.</p>
  <p>Object's independence means that no external styles or styles of other objects shoul influence to object's look or behaviour. It should look the same if it is placed on empty page as a single element either if it is placed in context within complex layout with multiple other objects.</p>
  <p>Object's indivisibility means that object is a smallest structural unit of interface and there is a small chance to take smaller parts from it to a separate object. For instance if we take a look at navigation with following structure:</p>
  <pre><code>&lt;ul class="navigation"&gt;
  &lt;li&gt;&lt;a href="/"&gt;Home&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="/about"&gt;About&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="/login"&gt;Login&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>
  <p>It's not likely that we would need to divide this object to elements, because we won't use list item <code>li</code> without actual list element <code>ul</code>. But we can take out a link element. But link should have it's default styles already defined in typography.</p>

  <h2>Object modification</h2>
  <p></p>
  <li>Object modifier</li>
  <li>Minimum classes</li>
  <li>Object groups</li>
  
</div>