<%=  partial "guide/navigation"%>
<div class="mainbar">
  <h2>Simplicity</h2>
  <p>We now that chain of 256 class selectors can override id styles.</p>
  
  <h2>Modularity</h2>
  
  <p>Why do things twice? Its logical to use your past attainments for future ease and work smoothness.</p>
  <p>But when it comes to re-using elements/styles from previous products its often stops on "Oh, give me a break! I would rather rewrite it all from scratch than figure out how to make this goddamn widget fit new layout!"</p>
  <p>This made me think that you have to apply some efforts beforehand in order to re-use stuff readily. What would it be?</p>
  <p>Let's make some points:</p>
  <ul>
    <li>do not use fixed width when you don't need it explicitly</li>
    <li>always think (or even look) how the element will look in different parent (grid)</li>
    <li>code styles within element's namespace (so every element has independent styles even having similar structure or class names)</li>
    <li>define your objects and never break them apart (even if you just need this set of buttons to be used elsewhere)</li>
  </ul>
</div> <!-- /mainbar -->