<div class="sidenav">
  <ul class="guide-nav">
    <li><a href="/guide/code_style.html">Code Style</a></li>
    <li><a href="/guide/semantic_and_structural_naming.html">Semantic and Structural Naming</a></li>
    <li><a href="/guide/simplicity_and_modularity.html">Simplicity and Modularity</a></li>
    <li><a href="/guide/objects.html">Objects</a></li>
    <li><a href="/guide/modules.html">Modules</a></li>
    <li><a href="/guide/structure_and_skin.html">Separate Structure and Skin</a></li>
    <li><a href="/guide/using_sass.html">Using SASS</a></li>
    <li><a href="/guide/categorizing_css_rules.html">Categorizing CSS Rules</a></li>
    <li><a href="/guide/file_organization.html">File Organization</a></li>
  </ul>
</div>